@charset "utf-8";

@font-face {
    font-family: 'daehan';
    font-weight: normal;
    font-style: normal;
    src: url(../font/YoonChildfundkoreaDaeHan.woff) format('woff');
}

@font-face {
    font-family: 'minguk';
    font-weight: normal;
    font-style: normal;
    src: url(../font/YoonChildfundkoreaMinGuk.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: 100;
    font-style: normal;
    src: url(../font/S-CoreDream-1Thin.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: 200;
    font-style: normal;
    src: url(../font/S-CoreDream-2ExtraLight.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: 300;
    font-style: normal;
    src: url(../font/S-CoreDream-3Light.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: 200;
    font-style: normal;
    src: url(../font/S-CoreDream-4Regular.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: 500;
    font-style: normal;
    src: url(../font/S-CoreDream-5Medium.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: 600;
    font-style: normal;
    src: url(../font/S-CoreDream-6Bold.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: bold;
    font-style: normal;
    src: url(../font/S-CoreDream-7ExtraBold.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: 800;
    font-style: normal;
    src: url(../font/S-CoreDream-8Heavy.woff) format('woff');
}

@font-face {
    font-family: 'score_dream';
    font-weight: 900;
    font-style: normal;
    src: url(../font/S-CoreDream-9Black.woff) format('woff');
}

@font-face {
    font-family: 'libre';
    font-weight: normal;
    font-style: normal;
    src: url(../font/LibreBaskerville-Regular.woff) format('woff');
}

@font-face {
    font-family: 'libre';
    font-weight: bold;
    font-style: normal;
    src: url(../font/LibreBaskerville-Bold.woff) format('woff');
}

@font-face {
    font-family: 'libre';
    font-weight: normal;
    font-style: italic;
    src: url(../font/LibreBaskerville-Italic.woff) format('woff');
}

@font-face {
    font-family: 'nanummyeongjo';
    font-weight: normal;
    font-style: normal;
    src: url(../font/NanumMyeongjo.woff) format('woff');
}

@font-face {
    font-family: 'nanummyeongjo';
    font-weight: bold;
    font-style: normal;
    src: url(../font/NanumMyeongjoBold.woff) format('woff');
}

@font-face {
    font-family: 'nanummyeongjo';
    font-weight: bold;
    font-style: normal;
    src: url(../font/NanumMyeongjoExtraBold.woff) format('woff');
}